{% extends 'Home/base.html' %}
{% block body_block %}

<h1>Drafts</h1>
<p style="font-weight: bold;">Back to game list <a href="{% url 'ProjectWebGame:gameList' %}">click here</a></p>
<ul>
    {% for draft in drafts %}
        {% if draft.is_published == False %}
            <li>
                <h3><a href="{% url 'ProjectWebGame:draft_detail' draft.id %}">{{ draft.name }}</a></h3>
                - {{ draft.created_at }}
            </li>
        {% endif %}
    {% endfor %}

    {% if draft %}
    <h3>{{ draft.name }}</h3>
    - {{ draft.created_at }} <br>
    <a href="{% url 'ProjectWebGame:publish_draft' draft.id %}" class="btn btn-primary">Publish</a>
    <a href="{% url 'ProjectWebGame:update_game' draft.id %}" class="btn btn-info">Edit game</a>
    <a href="{% url 'ProjectWebGame:delete_game' draft.id %}" class="btn btn-danger">Delete game</a>
    <a href="{% url 'ProjectWebGame:draft_list'%}" class="btn btn-secondary">Exit</a>
    {% endif %}
</ul>
{% endblock %}