{% extends 'Home/base.html' %} 
{% block body_block %} 
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  th{
        background: #007cf8;
        color: white;
    }
    td{
        background: #f2f2f2;
        color: black;
    }
  a {
    text-decoration: none;
    color: blue;
  }
  a:hover {
    color: red;
  }

</style>
<h1>Welcome to Game List View</h1>
<h5>Go to draft list <a href="{% url 'ProjectWebGame:draft_list' %}">draft</a></h5>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Action</th>
  </tr>
  {% for game in games %}
    {% if game.is_published %}
      <tr>
        <td>{{ game.id }}</td>
        <td>{{ game.name }}</td>
        <td>
          <a href="{% url 'ProjectWebGame:update_game' game.id %}"><i class="fa-solid fa-pen-to-square text-warning"></i></a> | 
          <a href="{% url 'ProjectWebGame:delete_game' game.id %}"><i class="fa-solid fa-trash text-danger"></i></a>
        </td>
      </tr>
    {% endif %}
  {% empty %}
  <li>Không có game nào trong danh sách.</li>
  {% endfor %}
</table>
<div>
  <a href="{% url 'ProjectWebGame:create_game' %}" class="btn btn-success">Add game</a>
</div>
{% endblock %}
